.cards__section-title {
  @include title;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  margin-bottom: 50px;
}

.cards__list-item {
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  list-style: none;
  & > p:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  & > p {
    @include text;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
  }
}

.card-photo-container {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  & > img {
    border-radius: 50%;
  }
}

.cards__button-container {
  width: 120px;
  margin: 0 auto;
  margin-top: 50px;
}
