header {
  padding-top: 13px;
  padding-bottom: 13px;
}

.header-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  margin-left: auto;
  width: 210px;
  display: flex;
  align-items: center;
  & > button:first-child {
    margin-right: 10px;
  }
}
